@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@200;300;400;500&display=swap');

/*----------------------------------------------------------------------------### START OF: General project styles ### */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*ID used to stick footer to bottom of all html pages*/
#container {
  min-height: 100%;
  position: relative;
}


/*----------------------------------------------------Background colours*/

.menu-bg, footer, .next-step-bg {
    background-color: #ffffff;
}

.mission-section, .map-section, .even-questions, .newsletter-prompt-bg, .quick-steps-bg {
    background-color: #F5F862;
}

/*----------------------------------------------------Font styling*/

body {
    color: #528FCB;
}

.navbar .menu-font a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: #528FCB;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

.standard-font {
    font-family: 'Raleway' sans-serif;
    font-size: 30px;
    font-weight: 200;
}

/*----------------------------------------------------Box styling*/

.standard-box {
    background-color: #fff; 
    border: 3px solid #F5F862;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}

.box-two-col {
    background-color: #fff; 
    border: 3px solid #F5F862;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.blue-border-box {
    border: 3px solid #528FCB;
}



/*----------------------------------------------------Button styling*/
.standard-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #528FCB;
    background-color: #F5F862;
    border-radius: 25px;
    min-height: 50px;
}

.standard-btn:hover {
    background-color: #528FCB;
    border: none;
    color: #F5F862;
}

.quiz-btn {
    background-color: #528FCB;
    border: #F5F862;
    color: #F5F862;
    text-align: center;
}

.quiz-btn:hover {
    color: #F5F862;
    background-color: #53BFE7;
}

.submit-results-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #528FCB;
    background-color: #F5F862;
    border-radius: 25px;
    border: 2px solid #528FCB;
    min-height: 50px;
    padding-top: 7px;
    max-width: 200px;
    margin: 0 auto;
}

.submit-results-btn:hover {
    color: #F5F862;
    background-color: #53BFE7;
    border: none;
}

/*----------------------------------------------------Navbar styling*/

.navbar-padding {
    background-color: #ffffff;
}

.menu-bg {
    height: 100px;
}

.brand-image {
    height: 100px;
}

.menu-collapse-align {
    margin-right: 5px;
    text-align: right;
}

.navbar button {
    margin-right: 20px;
}

.navbar-padding, a.nav-link {
    padding: 0;
}

.navbar-border {
    border-bottom: 5px solid #F5F862;
}

/*Add border to hovered menu item*/
.navbar-nav .nav-item:hover .nav-link {
    color: #528FCB;
    text-decoration: underline;
    text-decoration-color: #F5F862;
}

/*Prevent active menu item from changing style*/
.navbar-light .navbar-nav .active>.nav-link {
    color: #528FCB;
    text-decoration: underline;
    text-decoration-color: #528FCB;
}


/*----------------------------------------------------Footer styling*/

#footer-position{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.footer-border {
    border-top: 5px solid #F5F862;
    display: flex;
    height: 100px;
}

.footer-items{
    margin-right: 30px;
    margin-top: 30px;
    text-align: right;
    font-size: 27px;
}

.footer-items a {
    color: #528FCB;
}

.footer-items i:hover {
  color: #F5F862;
}

/*----------------------------------------------------Arrow animation*/

.yellow-arrow, .blue-arrow {
    text-align: center;
}

.yellow-arrow  a {
    color: #F5F862;
    font-size: 60px;
}

.blue-arrow a {
    color: #528FCB;
    font-size: 60px;
}


/* Source: https://gist.github.com/gubi/8483199*/
.icon-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}
@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
/*End of source*/

/*----------------------------------------------------------------------------### END OF: General project styles ### */
/*----------------------------------------------------------------------------### START OF: index.html ### */

/*----------------------------------------------------Hero section*/

.hero-image {
    background: url("../images/plastic-bottles.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.heading-titles {
    min-height: 160px;
    margin-top: 200px;
    line-height: 1.5px;
}

.heading-text {
    min-height: 350px;
    margin-top: 50px;
}

.extra-margin {
    padding-top: 20px;
}

.heading-arrow {
    margin-top: 50px;
}

.mission-arrow {
    margin-bottom: 50px;
    margin-top: 30px;
}

/*----------------------------------------------------Mission section*/

#mission-statement {
    padding-top:100px;
}

.mission-section {
    min-height: 700px;
}

.mission-text {
    margin-top: 50px;
    text-align: center;
    
}

.mission-margin {
    margin-bottom: 10px;
}

/*----------------------------------------------------Quick links section*/

#links-section {
    padding-top: 100px;
}

.quick-links-image {
    background: url("../images/seashore.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.link-titles {
    margin-top: 100px;
}

.quick-links-btns {
    position: relative;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------### END OF index.html ### */
/*----------------------------------------------------------------------------### START OF: plastic.html ### */

/*----------------------------------------------------Plastic title section*/

.plastic-image {
    background: url("../images/beach-bottle.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.plastic-title {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.plastic-box {
    margin-top: 50px;
}

/*----------------------------------------------------Gyre section*/

.gyre-image {
    background: url("../images/gyre-national-geographic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    min-height: 60%;
    margin-top: 150px;
    border: 3px solid #F5F862;
    border-radius: 20px;
}

.gyre-title {
    padding-bottom: 0px;
    min-height: 70px;
    margin-top: 150px;
    margin-bottom: 40px;
    text-align: center;
}

.gyre-box {
    margin-bottom: 20px; 
}

.image-source {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.image-source p {
    margin-bottom: 0px;
}

.gyre-arrow {
    margin-top: 40px;
    margin-bottom: 40px;
}

/*----------------------------------------------------Google Maps API section*/

.map-section {
    min-height: 900px;
}

.map-title {
    margin-top: 150px;
    margin-bottom: 40px;
}

.map-row {
    margin-bottom: 20px;
}

.maps-arrow {
    margin-top: 0px;
}

#map {
    height: 400px;
    width: 100%;
    border: 3px solid #528FCB;
    border-radius: 20px;
}

.maps-box {
    background-color:#F5F862;
    padding-top: 0px;
}

/*----------------------------------------------------Next step section*/

.next-step-bg {
    min-height: 600px;
}

.next-step-links {
    margin-top: 150px;
    margin-bottom: 150px;
}

.next-step-btns {
    text-align: center;
}

.ocean-cleanup {
    border-radius: 25px;
    height: 50px;
}

.ocean-cleanup:hover {
    border: 3px solid #528FCB;
}

/*----------------------------------------------------------------------------### END OF: plastic.html ### */
/*----------------------------------------------------------------------------### START OF: quiz.html ### */

/*----------------------------------------------------General questions*/

.questions {
    margin-top: 30px;
    margin-bottom: 20px;
}

.question-number {
    margin-top: 150px;
    margin-bottom: 20px;
}

.quiz-section {
    background: url("../images/bottle-caps.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.quiz-answers {
    border: none;
    margin: 0 auto;
}

.even-questions .quiz-answers {
        background-color: #F5F862;
}

.even-questions .question-number, .even-questions .questions {
    border: 3px solid #528FCB;
}

.quiz-btn {
    margin: 0 auto;
    min-width: 450px;
    display: block; 
    margin-top: 3px;
    margin-bottom: 3px;
    
}

.quiz-arrow {
    margin-top: 0px;
    margin-bottom: 30px;
}

/*----------------------------------------------------Quiz JS animation*/

.correct {
    background-color:#8DF45C;
    color: #528FCB;
    border: 2px solid #528FCB;
    pointer-events: none;
}

.incorrect {
    background-color:#E86019;
    color: #F5F862;
    border: 2px solid #528FCB;
    pointer-events: none;
}


/*----------------------------------------------------Question One*/
.gyre-location-image {
    background: url("../images/gyre-locations.png");
    background-repeat: no-repeat;
    min-height: 100%;
    width: 100%;
    margin-top: 30px;
    border: 3px solid #F5F862;
    border-radius: 20px;
    background-position-x: 70%;
}

.question-one-title {
    padding-bottom: 0px;
    min-height: 70px;
    margin-bottom: 30px;
    text-align: center;
}

/*----------------------------------------------------Question Three*/

.yellow-bag-image {
    background: url("../images/yellow-bag.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 30%;
    width:100%;
    height: 400px;
    margin-top: 30px;
    border: 3px solid #F5F862;
    border-radius: 20px;
}

/*----------------------------------------------------Question Three*/

.plastic-cup-image {
    background: url("../images/plastic-cup.jpg");
    background-position: center;
    background-repeat: no-repeat;
        background-size: cover;
    background-position-y: 30%;
    background-position-x: 50%;
    height: 400px;
    width: 100%;
    margin-top: 30px;
    border: 3px solid #F5F862;
    border-radius: 20px;
}

/*----------------------------------------------------Results*/

.results-section{
    background: url("../images/bottle-caps.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
}

.results-section .col-12 {
    text-align: center;
}

.answer-btn-margin{
    margin-top: 250px;
    min-width: 300px;
}

.hide-display{
    margin-top: 40px;
    margin-bottom: 50px;
    display: none;
}

/*----------------------------------------------------------------------------### END OF: quiz.html ### */
/*----------------------------------------------------------------------------### START OF: results.html ###*/

.results-image {
    background: url("../images/bottle-caps.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 1200px;
}

.results-title {
    margin-top:150px;
}

.results-heading {
    margin-top: 20px;
}

.answers-list {
    margin-top: 100px;
}

.newsletter-links {
    margin-top: 100px;
    margin-bottom: 200px;
}

/*----------------------------------------------------------------------------### END OF: results.html ###*/

/*----------------------------------------------------------------------------### START OF: newsletter.html ### */

.newsletter-image {
    background: url("../images/seashore.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

.newsletter-title {
    margin-top: 200px;
    margin-bottom: 40px;
}

.quick-steps-bg {
    min-height: 1000px;
}

.quick-steps-text {
    margin-top: 150px;
}

.quick-steps-text ul {
    padding-left: 60px;
}

.newsletter-btn {
    border: 1px solid #528FCB;
    min-width: 200px;
}

.btn-center {
    margin: 0 auto;
    text-align: center;
}


/*----------------------------------------------------------------------------### END OF: newsletter.html ### */

/*----------------------------------------------------------------------------### START OF: @media queries ### */

/*----------------------------------------------------Generic media queries*/

/*To remove unnecessary padding in navbar on some screens*/
@media screen and (min-width: 700px) and (max-width: 800px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: 0px;
    }
}

/*To reduce size of social media icons*/
@media screen and (max-width: 600px) {
    .footer-items{
        margin-right: 10px;
        margin-top: 30px;
        text-align: right;
        font-size: 25px;
    }
}

/*Adjust boxes so they are responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .standard-box, .blue-border-box {
        margin-left: 5%;
        margin-right: 5%;
    }
    .responsive-font {
        font-size: 25px;
    }
    .responsive-links{
        margin-bottom: 40px;
    }
}

/*Make titles responsive on smaller screens*/
@media screen and (max-width: 410px) {
    .responsive-title {
        margin-top: 40px;
    }
}

/*----------------------------------------------------For index.html*/

/*Increase size of image to give spage for all link buttons*/
@media screen and (max-width: 767px) {
    .quick-links-image {
        min-height: 1200px;
    }
}

/*----------------------------------------------------For plastic.html*/

/*Adjust title section to be responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .plastic-box {
        margin-right: 0px;
        margin-top: 20px;
    }
    .gyre-title, .gyre-box {
        margin-right: 0px;
        margin-left: 0px;
    }

}

/*Make gyre image responsive*/
@media screen and (max-width: 992px){
    .gyre-image {
        min-height: 500px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .image-source {
        margin-bottom: 0px;
    }
}

/*Adjust maps section to be responsive on all screen sizes*/
@media screen and (max-width: 768px) {
    .maps-box {
        margin-top: 80px;
    }
    .map-section {
        min-height: 1400px;
    }
}

/*Adjust next step section to be responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .next-step-bg {
        min-height: 900px;
    }
    .next-step-links {
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .first-link {
        margin-top: 150px;
    }
}

/*----------------------------------------------------For quiz.html*/


/*Adjust margins for question titles*/
@media screen and (max-width: 767px) {
.question-number {
    margin-bottom: 0px;
    }
}

/*Make gyre map responsive*/
@media screen and (max-width: 992px){
    .gyre-location-image {
        min-height: 400px;
        margin-bottom: 10px;
        text-align: center;
    }
    .question-one-title{
        margin-top: 20px;
    }
}

@media screen and (max-width: 480px){
    .gyre-location-image {
        background-size: 80%;
        max-width: 80%;
        min-height: 150px;
        margin: 0 auto;
        margin-top: 30px;
    }
}

/*Adjust answer buttons to scale to each screen*/
@media screen and (max-width: 767px) {
.quiz-btn {
    min-width: 250px;
    }
}

/*Remove quiz images on smaller screens*/
@media screen and (max-width: 991px) {
    .yellow-bag-image {
        display: none;
    }
    .plastic-cup-image{
        display: none;
    }
}

/*Make results area larger on smaller screens*/

@media screen and (max-width: 814px){
    .results-section {
        min-height: 2000px;
    }
    .answer-btn-margin {
        margin-top: 50px;
    }
    .hide-display {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

/*Remove arrows on small screens*/
@media screen and (max-width: 570px){
    .hide-arrow {
        display: none;
    } 
}

/*----------------------------------------------------For results.html*/

/*Adjust margins on smaller screens*/
@media screen and (max-width: 769px) {
    .results-title {
        margin-top: 40px;
    }
    .newsletter-prompt-bg{
        min-height: 100vh;
    }
    .newsletter-links {
    margin-top: 50px;
    margin-bottom: 0px;
    }
    .answers-list {
        margin-top: 0px;
        margin-bottom: 40px;
    }
}


/*----------------------------------------------------For newsletter.html*/

/*Correct height on certain screens*/
@media screen and (min-width: 770px) and (max-width: 924px) {
.quick-steps-bg {
    min-height: 900px;
    }
}

@media screen and (max-width: 800px){
    .newsletter-form {
        margin-top: 40px;
    }
}
/*----------------------------------------------------------------------------### END OF: @media queries ### */
