@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&family=Raleway:wght@200;300;400;500&display=swap');

/*----------------------------------------------------------------------------### START OF: Generic project styles ### */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/*ID used to stick footer to bottom of all html pages*/
#container {
  min-height: 100%;
  position: relative;
}


/*----------------------------------------------------Background colours*/

.menu-bg, .intro-plastic, footer, .next-step-bg {
    background-color: #ffffff;
}

.mission-section, .map-section {
    background-color: #F5F862;
}

/*----------------------------------------------------Font styling*/

body {
    color: #528FCB;
}

.navbar .menu-font a {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

.navbar-light .navbar-nav .nav-link {
    color: #528FCB;
}
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
}

.standard-font {
    font-family: 'Raleway' sans-serif;
    font-size: 30px;
    font-weight: 200;
}

/*----------------------------------------------------Box styling*/

.standard-box {
    background-color: #fff; 
    border: 3px solid #F5F862;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}

.box-two-col {
    background-color: #fff; 
    border: 3px solid #F5F862;
    border-radius: 25px;
    padding: 10px 10px;
    margin: 0 auto;
    margin-left: 0px;
    margin-right: 0px;
}

.blue-border-box {
    border: 3px solid #528FCB;
}



/*----------------------------------------------------Button styling*/
.standard-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #528FCB;
    background-color: #F5F862;
    border-radius: 25px;
}

.standard-btn:hover {
  background-color: #528FCB;
  border: none;
  color: #F5F862;
}

/*----------------------------------------------------Navbar styling*/

.menu-bg {
    height: 100px;
}

.brand-image {
    height: 100px;
}

.menu-collapse-align {
    margin-right: 5px;
    text-align: right;
}

.navbar button {
    margin-right: 20px;
}

.navbar-padding, a.nav-link {
    padding: 0;
}

.navbar-border {
    border-bottom: 5px solid #F5F862;
}

/*Add border to hovered menu item*/
.navbar-nav .nav-item:hover .nav-link {
    color: #528FCB;
    border: 0.5px solid #F5F862;
    border-radius: 20%;
}

/*Prevent active menu item from changing style*/
.navbar-light .navbar-nav .active>.nav-link {
    color: #528FCB;

}


/*----------------------------------------------------Footer styling*/

#footer-position{
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #fff;
}

.footer-border {
    border-top: 5px solid #F5F862;
    display: flex;
    height: 100px;
}

.footer-items{
    margin-right: 30px;
    margin-top: 30px;
    text-align: right;
    font-size: 27px;
}

.footer-items a {
    color: #528FCB;
}

.footer-items i:hover {
  color: #F5F862;
}

/*----------------------------------------------------Arrow animation*/

/* Source: https://gist.github.com/gubi/8483199*/
.icon-pulse {
	display: inline-block;
	-moz-animation: pulse 2s infinite linear;
	-o-animation: pulse 2s infinite linear;
	-webkit-animation: pulse 2s infinite linear;
	animation: pulse 2s infinite linear;
}
@-webkit-keyframes pulse {
	0% { opacity: 1; }
	50% { opacity: 0; }
	100% { opacity: 1; }
}
/*End of source*/

/*----------------------------------------------------------------------------### END OF: Generic project styles ### */
/*----------------------------------------------------------------------------### START OF: index.html ### */

/*----------------------------------------------------Hero section*/

.hero-image {
    background: url("../images/plastic-bottles.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

.heading-titles {
    min-height: 160px;
    margin-top: 200px;
    line-height: 1.5px;
}

.heading-text {
    min-height: 350px;
    margin-top: 50px;
}

.heading-arrow {
    text-align: center;
    margin-top: 50px;
}

.heading-arrow a{
    color: #F5F862;
    font-size: 60px;
}

.mission-arrow {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

.mission-arrow a {
    color: #528FCB;
    font-size: 60px;
}

/*----------------------------------------------------Mission section*/

.mission-section {
    min-height: 700px;
}

.mission-text {
    margin-top: 50px;
}

.mission-margin {
    margin-bottom: 10px;
}

/*----------------------------------------------------Quick links section*/

.quick-links-image {
    background: url("../images/seashore.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 850px;
}

.link-titles {
    margin-top: 100px;
}

.quick-links-btns {
    position: relative;
    text-align: center;
    padding-top: 80px;
    margin: 0 auto;
}

/*----------------------------------------------------------------------------### END OF index.html ### */
/*----------------------------------------------------------------------------### START OF: plastic.html ### */

/*----------------------------------------------------Plastic title section*/

.plastic-title {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.plastic-box {
    margin: 50px 50px 50px 0px;
}

/*----------------------------------------------------Gyre section*/

.gyre-image {
    background: url("../images/gyre-national-geographic.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 500px;
}

.gyre-title {
    padding-bottom: 0px;
    min-height: 70px;
    margin-top: 120px;
    margin-bottom: 80px;
}

.gyre-box {
    margin-bottom: 120px; 
}

/*----------------------------------------------------Google Maps API section*/

.map-section {
    min-height: 900px;
}

.map-title {
    margin-top: 80px;
    margin-bottom: 80px;
}

.map-row {
    margin-bottom: 20px;
}

/*----------------------------------------------------Next step section*/

.next-step-bg {
    min-height: 700px;
}

.next-step-links {
    margin-top: 30px;
}

.next-step-btns {
    text-align: center;
}

.rounded-edges {
    border-radius: 25px;
}

/*----------------------------------------------------------------------------### END OF: plastic.html ### */
/*----------------------------------------------------------------------------### START OF: quiz.html ### */

/*----------------------------------------------------------------------------### END OF: quiz.html ### */
/*----------------------------------------------------------------------------### START OF: results.html ###* /
/*----------------------------------------------------------------------------### END OF: results.html ###* /

/*----------------------------------------------------------------------------### START OF: newsletter.html ### */
/*----------------------------------------------------------------------------### END OF: newsletter.html ### */

/*----------------------------------------------------------------------------### START OF: @media queries ### */

/*----------------------------------------------------Generic media queries*/

/*To remove unnecessary padding in navbar on some screens*/
@media screen and (min-width: 700px) and (max-width: 800px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: 0px;
    }
}

/*To reduce size of social media icons*/
@media screen and (max-width: 600px) {
    .footer-items{
        margin-right: 10px;
        margin-top: 30px;
        text-align: right;
        font-size: 25px;
    }
}

/*Adjust boxes so they are responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .standard-box, .blue-border-box {
        margin-left: 5%;
        margin-right: 5%;
    }

    .responsive-font {
        font-size: 25px;
    }
    .responsive-links{
        margin-bottom: 40px;
    }
}

/*----------------------------------------------------For index.html*/

/*----------------------------------------------------For plastic.html*/

/*Adjust title section to be responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .plastic-box {
        margin-right: 0px;
        margin-top: 20px;
    }
    .gyre-title, .gyre-box {
        margin-right: 0px;
        margin-left: 0px;
    }
}

/*Adjust maps section to be responsive on all screen sizes*/
@media screen and (max-width: 767px) {
    .maps-box {
        margin-top: 80px;
    }
    .map-section {
        min-height: 1400px;
    }
}
/*----------------------------------------------------------------------------### END OF: @media queries ### */